@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

:root {
  --color-2: #256edc;
  --color-blue-light: #84b6f4;
  --color-light: #fcffff;
  --color_base: #143a6d;
  --color-accent: #1e5a99;
  --card-bg: #ffffff;
  --text-dark: #1a1a1a;
  --text-light: #f9f9f9;
  --color-secondary: #0e2c53;
}

* {
  font-family: "Poppins", sans-serif;
}
/* ul {
  list-style: none;
} */
a {
  text-decoration: none;
  color: white;
}
img {
  max-width: 100%;
}
h2,
h3 {
  color: var(--color_base);
}
.space-navbar-pages {
  margin-top: 5rem;
}
/*--- floating buttons ---*/

.floating-button {
  background-color: var(--color-2);
  margin: 20px;
  border: none;
  color: white;
  font-size: 20px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

/* .floating-button:hover {
    transform: scale(1.2);
} */

.floating-button-container.floating {
  animation-name: float;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@keyframes float {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-10px);
  }
}
/* icono whatsapp home*/
.floating-logo .bxl-whatsapp-square {
  color: #25d366;
  font-size: 5rem;
}

.floating-logo {
  animation: float 6s ease-in-out infinite;
}

/* social media effect */

.bxl-facebook-circle,
.bxl-whatsapp,
.bxl-linkedin {
  font-size: 2.5rem;
  transition: all 0.3s ease-in-out;
  color: var(--color_base);
}
.bxl-facebook-circle:hover,
.bxl-whatsapp:hover,
.bxl-linkedin:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/* ---- media query----- */

@media (max-width: 992px) {
  .floating-button {
    font-size: 1rem;
  }
}
