:root {
    --color-1: #1c4c96;
    --color-2: #256edc;
    --color-3: #427ed7;
    --color-4: #5f95e7;
    --color-5: #0303b5;
    --color-6: #005187;
    --color-7: #4d82bc;
    --color-8: #84b6f4;
    --color-9: #c4dafa;
    --color-10: #fcffff;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
    color: white;
}
img {
    max-width: 100%;
}
h2 {
    color: #005187;
}
/* ---Home--- */
.home {
    /* Altura total de la sección */
    height: 100vh;
    /* Crear el efecto home */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.home_logo {
    /* Estilo para el texto dentro de la sección home */
    display: flex;
    background-color: rgba(255, 255, 255, 0.616);
    color: var(--color-1);
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    border-radius: 20px;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    margin: 15px;
}
.home_logo .img_logo {
    width: 40%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

/*--- floating buttons ---*/

.floating-button {
    background-color: var(--color-5);
    margin: 20px;
    border: none;
    color: white;
    font-size: 20px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

/* .floating-button:hover {
    transform: scale(1.2);
} */

.floating-button-container.floating {
    animation-name: float;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes float {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-10px);
    }
}
/* -- about -- */
.div_info_about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

/* -- stats -- */

.stats {
    /* Altura total de la sección */
    height: 70vh;
    /* Crear el efecto home */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.info_stats {
    color: var(--color-10);
    text-align: center;
    padding: 3rem 1rem 0 1rem;
}

.counter {
    /* Estilo para el texto dentro de la sección home */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    font-size: 1.3rem;
    border-radius: 20px;
    font-weight: bold;
    height: 70%;
}

.counter__item {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    text-align: center;
    width: 230px;
    height: 180px;
    background-color: rgba(0, 0, 0, 0.342);
    color: var(--color-10);
    box-shadow: 0px 4px 16px rgba(248, 248, 248, 0.658);
    transition: transform 0.3s ease-in-out;
    border-radius: 10px;
}

.counter__item:hover {
    transform: translateY(-5px);
}

.counter__item i {
    font-size: 3rem;
    color: var(--color-8);
    margin-bottom: 1rem;
}

/* -- services -- */

.services {
    padding: 2rem 6rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
/* -- pollster */

.pollster {
    /* Altura total de la sección */
    height: 70vh;
    /* Crear el efecto home */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.pollster_info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.pollster_info p {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    border-radius: 20px;
    height: 50px;
    height: 70%;
    font-weight: bold;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.575);
    color: var(--color-10);
    box-shadow: 0px 4px 16px rgba(248, 248, 248, 0.658);
    transition: transform 0.3s ease-in-out;
}

/* --- team --- */
.section_team {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem 4rem;
}
.team {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 4rem;
}

.team_member {
    width: 100%;
    padding: 1rem;
    position: relative;
    background-color: #fafafa;
    transition: all 0.3s ease-in-out;
    box-shadow: 0px 0px 15px #363636;
    border-radius: 10px;
    overflow: hidden;
}
.member_name {
    color: var(--color-1);
    text-align: center;
}

.member_image {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.member_image img {
    width: 100%;
    height: auto;
    transition: all 0.4s ease-in-out;
}

.team_member:hover {
    transform: scale(1.02);
    box-shadow: 0px 0px 20px #ccc;
}

.team_member:hover .member_image img {
    transform: scale(1.2);
    opacity: 0.6;
}

.member_description {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    color: var(--deatails);
    background-color: rgba(84, 107, 235, 0.623);
    padding: 1rem;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
}

.team_member:hover .member_description {
    opacity: 1;
    visibility: visible;
}

/* -- contact -- */

.contact {
    padding: 2rem;
}

.titles_contact {
    color: var(--deatails);
}
.form_field {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}
input,
textarea {
    border-radius: 20px;
    padding: 0 1rem;
}
.bt_contact {
    width: 100%;
    border-radius: 10px;
    text-align: center;
}
.col_contactInfo {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-right: 1px solid rgba(0, 0, 0, 0.158);
}
.div_icons_contact {
    display: flex;
    gap: 1rem;
    justify-content: center;
    margin: 1rem 0;
}

/* social media effect */

.bxl-facebook-circle,
.bxl-twitter,
.bxl-linkedin {
    font-size: 2.5rem;
    transition: all 0.3s ease-in-out;
    color: var(--color-1);
}
.bxl-facebook-circle:hover,
.bxl-twitter:hover,
.bxl-linkedin:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/* ---- media query----- */

@media (max-width: 992px) {
    .floating-button {
        font-size: 1rem;
    }
    .home_logo {
        width: 82%;
        font-size: 20px;
    }

    .stats {
        height: 90vh;
    }
    .counter {
        flex-direction: column;
        justify-content: start;
        gap: 3rem;
        padding-top: 3rem;
    }

    .counter__item {
        font-size: 1rem;
        width: 200px;
        height: 150px;
    }
    .services {
        padding: 2rem 2rem;
    }
    .section_team {
        padding: 2rem 2rem;
    }
    .team {
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
    }
    .pollster_info p {
        margin: 1rem;
        font-size: 1rem;
    }
}

@media (max-width: 768px) {
    .home_logo {
        /* flex-direction: column; */
        width: 95%;
        font-size: 1rem;
        margin: 0;
    }
    .home_logo .img_logo {
        width: 60%;
    }

    .div_info_about {
        padding: 2rem;
        gap: 1rem;
    }
    .section_team {
        padding: 2rem 2rem;
    }
    .team {
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
    }
}
@media (max-width: 480px) {
    .home_logo {
        flex-direction: column;
        width: 70%;
        font-size: 1rem;
        margin: 0;
    }
    .home_logo .img_logo {
        width: 100%;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        border-bottom-left-radius: 0;
    }
    .team {
        grid-template-columns: repeat(1, 1fr);
    }
}
